table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
th,
td:first-child {
    background: #afcde7;
    color: white;
    padding: 10px 20px;
}
th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #d8e6f3;
}
th:first-child,
td:first-child {
    text-align: left;
}
.upload {
    width: 200px;
    height: 35px;
    cursor: pointer;
    background-color: #afcde7;
}
.alert {
    margin: 0 auto;
    width: 450px;
    height: 75px;
    background-color: rgb(228, 110, 110);
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-text{
    height: 30px;
    color: aliceblue;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
}